.symptom-note {
   
    border: 1px solid #fdfcfc;
    margin-top: 6.5rem;
    padding: 1rem;
    margin-bottom: 5rem;
    margin-top: 15rem;
}

*,*::before,*::after {
    box-sizing: border-box
}

*,*::before,*::after {
    box-sizing: border-box
}
.medium-up-3,.medium-up-3>.column {
    overflow: hidden
}

.step-1,.step-2 {
    text-align: center;
    border-left: 1px solid #e4e3e8
}
p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    margin-top: 0;
    text-rendering: optimizelegibility;
    font-weight: 300;
    
}
img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block
}
.step-3 {
    text-align: center
}
.white-bg {
   
    overflow: hidden
}
.block {
    float: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
}
.s-head {
    padding: .7rem .8rem
}
div {
    display: block;
}

.s-head {
   
    display: block;
    margin-bottom: 1rem;
    padding: .7rem .5rem;
    position: relative
}
.s-head .bold {
    font-size: 1.4rem
}
.s-head .bold {
    color: #ffffff;
    font-size: 2.15rem;
    margin: 0
}
.bold,strong,b,h4,h5 {
    font-family: "roboto",bfont;
    font-weight: 400;
    font-style: normal
}
.symptom .body {
    float: right;
    margin-left: 46px;
    width: 50%
}
.padding,.padding-sl {
    padding-right: .5rem;
    padding-left: .5rem
}
.symptom-checker .block.fc {
    z-index: 2
}
.block.fc {
    min-height: 36px;
    padding-right: 85px;
    position: relative
}

.block.fc .label {
    color: #2b5464;
    font-size: 1.1rem;
    line-height: 34px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 70px
}
.block {
    
    width: 100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.small-up-3 {
    margin-right: -.2rem;
    margin-left: -.2rem
}
.small-up-5 .column {
    width: 20%;
}

.small-up-3 .column {
    width: 33.3333%;
}

.small-up-2 .column {
    width: 50%;
}

.small-up-1 .column {
    width: 100%;
}
[class*="small-up-"] .column {
    padding-right: .2rem;
    padding-left: .2rem;
    float: right
}
.radio {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
}
.radio :checked+span {
    border: 1px solid #2b5464;
    background: #2b5464;
    color: #fff;
}
.hidden {
    display: none;
}
input {
    font-family: "roboto",lfont;
}
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.radio a {
    background-color: #6cc6c8;
    border: 1px solid #96a6af;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 34px;
    text-align: center;
    width: 100%
}
.bold,strong,b,h4,h5 {
    font-family: "roboto",bfont;
    font-weight: 400;
    font-style:inherit;
}
a {
   
    text-decoration: none;
    outline: none
}
a:hover{
    color: rgb(4, 56, 56);
 
}
.small-up-3 .column {
    width: 20%
}
.symptoms {
    float: left;
    margin-bottom: 1rem;
    margin-top: -.3rem;
    vertical-align: top
}
img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block
}
.body-select-part>div {
    background: #fff;
    text-align: center;
    margin-top: 3.7rem;
    padding-top: 2.5rem;
    margin-bottom: 1.2rem;
    min-height: 406px;
}
.body-select-part>div>img {
    margin-right: -60px;
}
img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
body-select-part>div {
    background: #fff;
    text-align: center;
    margin-top: 3.7rem;
    padding-top: 2.5rem;
    margin-bottom: 1.2rem;
    min-height: 406px;
}
.s-display-away {
    display: none;
    left: -5000px;
    position: absolute;
}
@media only screen and (min-width: 769px){

[class*="medium-up"]>.column {
    float: left;
    padding-left: 1.33rem;
    padding-right: 1.33rem;
}
.medium-up-3>.column {
    width: 33.3333%;
}
.b-border {
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
}
}
.medium-up-3, .medium-up-3>.column {
    overflow: hidden;
}

div {
    display: block;
}
.b-border {
    color: #2b5464;
    display: block;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding-bottom: 0.3rem;
    position: relative;
    border-bottom: 3px solid #16c1f5;
}
.bold, strong, b, h4, h5 {
    font-family: "roboto",bfont;
    font-weight: 400;
    font-style: normal;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
 
}
.b-border+.list {
    margin-top: -0.5rem;
}
.list-select-part .list, .select-symptom .list {
    padding: 0;
}
ul.list {
    font-size: 4.25rem;
}
.list {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    padding: 0.6rem;
}
.list {
    margin-bottom: 1.2rem;
}
ul {
    list-style: outside none none;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.list>li {
    position: relative;
}
@media only screen and (min-width: 769px){
.main-content li, p {
    line-height: 1.5;
}
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-select-part .list a, .select-symptom .list a {
    padding-right: 0.6rem;
}
@media only screen and (min-width: 769px){
.list a {
    padding-bottom: 0.8rem;
    padding-top: 0.9rem;
    font-size: 2.2rem;
}
}
.list a {
    border-bottom: 1px solid #dfe4e5;
    color: #2b5464;
    display: block;
    padding-bottom: 0.6rem;
    padding-left: 2rem;
    padding-top: 0.6rem;
}
a {
    color: #000000;
    text-decoration: none;
    outline: none;
}
.list-select-part .list li em, .select-symptom .list li em {
    left: 0.4rem;
}
@media only screen and (min-width: 769px){
.list li em {
    font-size: 1rem;
    left: 0;
    margin-top: -7px;
}
}
.list li em {
    color: #c7d1d6;
    font-size: .8rem;
    left: 0.2rem;
    position: absolute;
    top: 50%;
}
em {
    font-style: italic;
}
.icon-arrow-l:before {
    content: "!";
}
[class^="icon-"]:before, [class*=" icon-"]:before, [data-icon]:before, .amp-carousel-button:before {
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.medium-up-3, .medium-up-3>.column {
    overflow: hidden;
}
div#bodyPartsContainer {
    position: relative;
}
@media only screen and (min-width: 769px){
.b-border {
    font-size: 2.3rem;
    padding-bottom: 0.5rem;
}
}
#symptomsList+.list {
    margin-top: -0.5rem;
}
.restart {
    background:none repeat scroll 0 0;
    padding: 1rem;
}
.button.border {
    border: 1px solid #16c1f5;
}
@media only screen and (min-width: 769px){
.button {
    font-size: 1rem;
}
}
.centered {
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.button {
    background: #16c1f5;
    border-radius: 3px;
    color: #fff;
    display: table;
    font-size: 2.5rem;
    padding: 0.55rem 0.65rem;
    position: relative;
    font-family: "roboto",bfont;
    outline: 0 !important;
    border: 0;
    cursor: pointer;
}
.user:hover{
    border: none;
    background: rgb(255, 255, 255);
}
.black{
    color: #16c1f5;
   
}

.radio a {
    background-color: #6cc6c8;
    border: 1px solid #96a6af;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 34px;
    text-align: center;
    width: 100%
}










